
table#connectproxymodule-recording-list { margin: 5px; }

table#connectproxymodule-recording-list td { padding-left: 20px; padding-right: 20px }

div.connectproxymodule-view-property { padding-bottom: 5px; }
div.connectproxymodule-view-property span.pushed { padding-left: 50px; }
